<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Costumers</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>City</th>
        <th>Credit Card</th>
        <th>Expiry</th>
        <th>CVV</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.surname}"></td>
        <td th:text="${customer.age}"></td>
        <td th:text="${customer.city}"></td>
        <td th:text="${customer.number}"></td>
        <td th:text="${customer.expiration}"></td>
        <td th:text="${customer.cvv}"></td>
    </tr>
    </tbody>
</table>
</body>