<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Items</title>
</head>
<body>
<h1>Insert new item</h1>
<form method="POST" th:object="${item}">
    <div>
        <label for="code">Code:</label>
        <input type="text" id="code" th:field="*{code}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('code')}"
              th:errors="*{code}">Code Error</span>
    </div>

    <div>
        <label for="type">Type:</label>
        <input type="text" id="type" th:field="*{type}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('type')}"
              th:errors="*{type}">Type Error</span>
    </div>

    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Name Error</span>
    </div>

    <div>
        <label for="price">Price:</label>
        <input type="number" id="price" step="0.01" th:field="*{price}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('price')}"
              th:errors="*{price}">Price Error</span>
    </div>

    <div>
        <label for="itemCount">Item Count:</label>
        <input type="number" id="itemCount" th:field="*{itemCount}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('itemCount')}"
              th:errors="*{itemCount}">Item Count Error</span>
    </div>

    <div>
        <button type="submit">Save</button>
    </div>

</form>
</body>