<h1>Inserisci nuovo prodotto</h1>

<form method="POST" th:action="@{/newproduct}" th:object="${product}">

    <div>
        <label for="id">ID:</label>
        <input type="number" id="id" th:field="*{id}" placeholder="Inserisci l'ID" required/>
        <span class="validationError"
              th:if="${#fields.hasErrors('id')}"
              th:errors="${product.id}">ID Error
        </span>
    </div>
    <br>
    <div>
        <label for="name">Nome:</label>
        <input type="text" id="name" th:field="*{name}" placeholder="Inserisci il nome del prodotto" required/>
        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="${product.name}">Name Error
        </span>
    </div>
    <br>
    <div>
        <label for="price">Prezzo:</label>
        <input type="number" step="0.01" id="price" th:field="*{price}" placeholder="Inserisci il prezzo" required/>
        <span class="validationError"
              th:if="${#fields.hasErrors('price')}"
              th:errors="${product.price}">Price Error
        </span>
    </div>
    <br>
    <div>
        <label for="expirationdate">Data di scadenza:</label>
        <input type="date" id="expirationdate" th:field="*{expirationDate}" required/>
        <span class="validationError"
              th:if="${#fields.hasErrors('expirationDate')}"
              th:errors="${product.expirationDate}">Date Error
        </span>
    </div>
    <br>
    <div>
        <label for="description">Descrizione:</label>
        <input type="text" id="description" th:field="*{description}" placeholder="Inserisci la descrizione del prodotto" required/>
        <span class="validationError"
              th:if="${#fields.hasErrors('description')}"
              th:errors="${product.description}">Description Error
        </span>
    </div>
    <br>
    <div>
        <button type="submit">Salva il prodotto</button>
    </div>
</form>